<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Event Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">


    <section layout:fragment="body" class="py-5">

        <div class="container">
            <form role="form" method="POST" th:action="@{/events/{eventId}/edit(eventId=${eventId})}" th:object="${event}">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"  placeholder="Event Name" th:field="*{name}">

                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" id="type" name="type"  placeholder="Type" th:field="*{type}">

                        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger"></p>

                    </div>

                </div>

                <div class="form-group mb-3">

                    <label for="PhotoUrl">PhotoUrl</label>
                    <input type="text" class="form-control" id="PhotoUrl" name="PhotoUrl" placeholder="Photo Url" th:field="*{PhotoUrl}">

                    <p th:if="${#fields.hasErrors('PhotoUrl')}" th:errors="*{PhotoUrl}" class="text-danger"></p>
                </div>

                <div class="form-group mb-3">

                    <label for="startTime">Start Time</label>
                    <input type="datetime-local" class="form-control" id="startTime" name="startTime" placeholder="Start Time" th:field="*{startTime}">

                    <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="text-danger"></p>
                </div>

                <div class="form-group mb-3">

                    <label for="endTime">End Time</label>
                    <input type="datetime-local" class="form-control" id="endTime" name="startTime" placeholder="End Time" th:field="*{endTime}">

                    <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="text-danger"></p>
                </div>


                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>


    </section>

</main>
</body>
</html>
